* {
  font-family: system-ui;
}

main {
  padding: 1em 1.5em;
}

.button {
  background: dodgerblue;
  border: none;
  padding: 0.5em;
  border-radius: 4px;
  margin-top: 1em;
  margin-bottom: 1em;

  &--danger {
    background: crimson;
    color: white;
  }
}